<!-- Lab 3 - Pig Game starter
     Brian Bird, 10/10/17
-->

@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table>
    <tr>
        <td>
            <form method="post">
                <input asp-for="PlayerName" type="text" />
                <button type="submit">Enter Name</button>
            </form>
        </td>
    </tr>
    <tr>
	    <td>@Model.Game.Player1Name's score: @Model.Game.Player1Score </td>
	    <td>
			<p>@Model.Roll</p>
			<form asp-page-handler="roll" method="post">
				<button type="submit">Roll</button>
			</form>
		</td>
	</tr>
    <tr></tr>
</table>
